@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #6e726d;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto); /* Default Roboto */
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #35521d !important;
}
.container {
  max-width: 1366px;
  @apply mx-auto px-4 sm:px-6;
}

.pagebody {
 @apply py-4 sm:py-6;
}

@layer utilities {
  @keyframes accordion-down {
    from { height: 0; opacity: 0; }
    to { height: var(--radix-accordion-content-height); opacity: 1; }
  }

  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); opacity: 1; }
    to { height: 0; opacity: 0; }
  }

  .animate-accordion-down {
    animation: accordion-down 0.3s ease-out forwards;
  }

  .animate-accordion-up {
    animation: accordion-up 0.3s ease-out forwards;
  }
}