@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #6e726d;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto); /* Default Roboto */
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #35521d !important;
}
.container {
  max-width: 1366px;
  @apply mx-auto px-4 sm:px-6;
}

.pagebody {
 @apply py-4 sm:py-6;
}