@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #6e726d;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto); /* Default Roboto */
}

.swiper-pagination-bullet {
  background-color: #E6F1CD !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #35521d !important;
}
.container {
  max-width: 1366px;
  @apply mx-auto px-4 sm:px-6;
}

.pagebody {
 @apply py-4 sm:py-6;
}

@layer utilities {
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }

  @keyframes marquee-vertical {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
  }

  .animate-marquee {
    animation: marquee var(--duration, 20s) linear infinite;
  }

  .animate-marquee-reverse {
    animation: marquee var(--duration, 20s) linear infinite reverse;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 20s) linear infinite;
  }

  @keyframes accordion-down {
    from { height: 0; opacity: 0; }
    to { height: var(--radix-accordion-content-height); opacity: 1; }
  }

  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); opacity: 1; }
    to { height: 0; opacity: 0; }
  }

  .animate-accordion-down {
    animation: accordion-down 0.3s ease-out forwards;
  }

  .animate-accordion-up {
    animation: accordion-up 0.3s ease-out forwards;
  }
  .from-background {
    --tw-gradient-from: var(--background);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}
}